app-quarkus/target/
lib-proto/java-lib/target/
lib-proto/java-lib/src/
lib-proto/ts-lib/node_modules/
lib-proto/ts-lib/lib/
lib-proto/ts-lib/src/
lib-proto/ts-lib/*.tgz
lib-proto/rust-lib/target/
lib-proto/rust-lib/src/generated/
lib-proto/c-lib/obj/
lib-proto/c-lib/bin/
lib-proto/c-lib/src/generated/
